.singlePost {
	height: calc(100vh - 60px);
}

.singlePostWrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: white;
	border: 1px solid #ddd;
	padding: 16px;
	border-radius: 5px;
}

.singlePostReactions {
	display: flex;
	justify-content: space-between;
}

.commentsLists {
	height: 100vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* ::-webkit-scrollbar-button {
	background: #ccc;
}

::-webkit-scrollbar-track-piece {
	background: #888;
}  */

.reactionsLists {
	display: flex;
	width: 100%;
}

.reactionListItem {
	display: flex;
}

.reactionListItemImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.reactionListLike {
	background-color: teal;
	color: white;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	font-size: 10px;
	margin-top: 18px;
	margin-left: -5px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
