.navbar {
	width: 100%;
	height: 60px;
	padding: 1rem 2rem;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #0e76a8;
	position: fixed;
	top: 0;
	z-index: 999;
}

.navbarLeftWrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navbarSearch {
	display: flex;
	align-items: center;
	width: 24%;
	height: 24px;
	border: 1px solid #ddd;
	padding: 16px;
	background-color: rgb(228, 231, 231);
	border-radius: 6px;
	font-size: 16px;
}

.navbarSearch input {
	border: none;
	width: 100%;
	margin-left: 8px;
	background-color: rgb(228, 231, 231);
	color: teal;
	font-size: 16px;
}

.navbarSearch input:focus {
	outline: none;
}

.navbarLeftWrapper h2 {
	color: #fff;
}

.navbarLeftWrapper i {
	font-size: 28px;
	color: purple;
}

.navbarCenterWrapper {
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 12px;
	cursor: pointer;
	position: relative;
}

.icon i {
	font-size: 22px;
	color: #fff;
}

.count {
	position: absolute;
	top: -6px;
	right: -4px;
	font-size: 12px;
	background-color: red;
	color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.timeline {
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.navbarRightList {
	position: relative;
	display: flex;
	align-items: center;
}

.navbarRightListItem {
	margin-right: 10px;
	cursor: pointer;
	font-weight: 500;
	color: #fff;
	font-size: 14px;
}
.navImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.badgeContainer {
	position: relative;
}

.imgBadge {
	position: absolute;
	height: 12px;
	width: 12px;
	right: -4px;
	top: 16px;
	border-radius: 50%;
	border: 2px solid white;
	background-color: teal;
}

.userSettings {
	position: absolute;
	width: 240px;
	right: -24px;
	top: 48px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	background-color: white;
	padding: 10px;
}

.settingsList {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 0px 0px 8px 8px;
}

.settingsItem {
	margin: 8px 0px;
	cursor: pointer;
	width: 100%;
	padding: 4px;
	border-radius: 3px;
	transition: all 0.5s ease;
}

.settingsItem:hover {
	transform: scale(1.07);
}

.caret {
	position: absolute;
	bottom: -15px;
	left: 220px;
	font-size: 1.5rem;
	color: rgb(199, 196, 196);
	cursor: pointer;
}

.dropDown {
	display: flex;
	width: 100%;
}

.dropDownImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.dropDownProfile p {
	font-weight: bold;
	margin-bottom: 3px;
}

.dropDownProfile span {
	font-size: 15px;
}
