.navbar {
	width: 100%;
	height: 60px;
	padding: 1rem 2rem;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(1, 1, 50);
	position: fixed;
	top: 0;
}

.navbarLeftWrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navbarLeftWrapper h2 {
	color: #fff;
}

.navbarLeftWrapper i {
	font-size: 28px;
	color: purple;
}

.navbarCenterWrapper {
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 12px;
	cursor: pointer;
	position: relative;
}

.icon i {
	font-size: 22px;
	color: #fff;
}

.count {
	position: absolute;
	top: -6px;
	right: -4px;
	font-size: 12px;
	background-color: red;
	color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.navbarRightList {
	display: flex;
	align-items: center;
}

.navbarRightListItem {
	margin-right: 10px;
	cursor: pointer;
	font-weight: 500;
	color: #fff;
	font-size: 14px;
}
.navImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.badgeContainer {
	position: relative;
}

.imgBadge {
	position: absolute;
	height: 12px;
	width: 12px;
	right: -4px;
	top: 16px;
	border-radius: 50%;
	border: 2px solid white;
	background-color: teal;
}
